.MuiModal-root {
    align-content: center;
}

.modal-status {
    height: fit-content;
}

.modal-projects {
    justify-self: center;
    background-color: white;
    width: 50%;
    height: fit-content;
    color: black;
    border-radius: 8px;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 0.3);
}

.modal-title-container {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.modal-project-title {
    font-size: 1.5rem;
}

.modal-container {
    height: 100%;
    border-radius: 8px;
    background-color: #247BA030;
}

.modal-project-body {
    width: 100%;
}

.modal-date-section {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.modal-project-description {
    min-height: 5rem;
}

.teste1 {
    background-color: white;
    margin: .5rem 1rem;
    padding: .5rem;
    border-radius: 8px;
    border: 1px solid #247BA060;
    height: 5rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.modal-label {
    margin: 0 1rem;
}

.modal-section {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.modal-costs-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-value {
    border: 1px solid #247BA060;
    border-radius: 8px;
    padding: 1rem;
}

.total-cost {
    font-weight: bold;
}

.modal-period {
    margin-right: 1rem;
    width: 100%;
    gap: .5rem;
    margin-top: 1rem;
}

.period-inputs {
    display: flex;
    align-items: center;
}

.modal-input {
    border: 1px solid #247BA060;
    border-radius: 8px;
    padding: .5rem;
}

.modal-employees-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 0;

}

.modal-employees-list {
    display: flex;
    max-height: 10rem;
    flex-direction: column;
    margin: 0 1rem;
    border: 1px solid #247BA060;
    border-radius: 8px;
    scrollbar-width: 1px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    scrollbar-width: none;
}



.modal-employees {
    padding: .5rem;
    display: flex;
}

.modal-no-team {
    padding: .5rem;
    border-color: red;
}

.period-cost-button {
    width: 20%;
    margin: .5rem 1rem;
    border-radius: 8px;
    border: 1px solid #247BA060;
    background-color: #247BA020;
    color: #247BA0;
    padding: .5rem;
    align-self: center;
}

.period-cost-button:active {
    scale: .9;
}

.period-cost-display {
    display: flex;
    align-items: center;
}

.suriberto-currency {
    width: 5rem;
}

.suriberto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

.cost-display {
    display: flex;
    display: row;
    align-items: center;
    justify-content: space-evenly;
}

.period-cost {
    align-self: end;
}

.date-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-employee-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.modal-project-employees-container .project-employee-container:nth-child(odd) {
    background-color: #247ba015;
}

.role {
    text-align: center;
    width: 15%;
}

.manager {
    padding: 0.3rem;
    border: 1px solid #f2b35c;
    background-color: #f2b35c30;
    color: #f2b35c;
}

.security {
    border: 1px solid #f25f5c;
    background-color: #f25f5c30;
    padding: 0.3rem;
    color: #f25f5c;
}

.qa {
    border: 1px solid #0d8c29;
    background-color: #0d8c2930;
    padding: 0.3rem;
    color: #0d8c29;
}

.dev {
    border: 1px solid #1078a5;
    background-color: #1078a530;
    padding: 0.3rem;
    color: #1078a5;
}